.BotBody-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
    position: relative;
}
.BotBodyHead{
    display: flex;
    align-items: center;
    gap:1rem;
}
.BotBodyHead h1{
    color: rgba(151, 133, 186, 1);
    font-family: Ubuntu;
font-size: 28px;
font-weight: 700;
line-height: 32.17px;
text-align: left;
}
.BotBodyHead img{
    cursor: pointer;
}

@media screen and (min-width:750px){
    .BotBodyHead img{
        display: none;
    }
}