.pastconvo-wrapper{
    display: flex;
    flex-direction: column;
    height: 80vh; 
  
}
.pastconvo-container{

    flex: 1; 
    min-height: 0; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
}
.pastconvo-wrapper h3{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}
.pastconvo-wrapper p{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.select{
    text-align: center;
    padding: 1rem;
}